body {
    background-color: #65727c; 
    color: white; 
}

.brawler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #4b4b55;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.brawler img {
    height: 100px;
    margin-right: 20px;
}

.brawler a {
    color: white; 
    text-decoration: none;
}

.brawler-info {
    padding: 10px;
    height: 100px;
    margin-left: auto; 
}

.text {
text-align: center;
}
